# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.ini  diff=astextplain
*.INI  diff=astextplain

# Fix incorrect language encoding
*.ini linguist-language=INI
*.INI linguist-language=INI
*.inc linguist-language=INI
*.INC linguist-language=INI
